body {
    background-color: #00D64F;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

a {
    text-decoration: none;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
}
.nav-links {
    margin-bottom: 0!important;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

.darkLight-searchBox {
    display: none!important;
}

.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.button1 {
    color: #00D64F;
    background-color: white;
    border: none;
    border-radius: 2.14em;
    padding: 1em 3.33em;
    font-weight: 600;
    transition: all .55s ease;
}
.note p {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: bold;
}

.transactions {
    text-align: center;
  }
  
  .transaction-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
  }
  .transaction-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: scrollUp 10s linear infinite;
  }
  @keyframes scrollUp {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
  }
  .transaction-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  /*! CSS Used from: https://rewardis.online/assets/index-c146559e.css */
a{font-weight:500;color:#646cff;text-decoration:inherit;}
a:hover{color:#535bf2;}
@media (prefers-color-scheme: light){
a:hover{color:#747bff;}
}
.css-1qsxih2{width:100%;margin-left:auto;box-sizing:border-box;margin-right:auto;display:block;padding-left:16px;padding-right:16px;}
@media (min-width: 600px){
.css-1qsxih2{padding-left:24px;padding-right:24px;}
}
@media (min-width: 1200px){
.css-1qsxih2{max-width:1200px;}
}
.css-dfshdq{background-color:rgb(7, 9, 29);max-width:100%;width:100%;margin-top:32px;padding-top:16px;padding-bottom:16px;flex:0 1 auto;}
.css-10zkh8z{display:flex;flex-flow:wrap;-webkit-box-pack:center;justify-content:center;padding-bottom:8px;font-family:Roboto, sans-serif;font-weight:400;font-size:1rem;line-height:1.5;}
.css-1hokh57{margin:0px 16px;font-style:inherit;font-variant:inherit;font-stretch:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-optical-sizing:inherit;font-kerning:inherit;font-feature-settings:inherit;font-variation-settings:inherit;text-decoration:none;color:rgb(255, 255, 255);font-weight:300;}
@media (max-width: 899.95px){
.css-1hokh57{margin-left:0px;margin-top:8px;}
}
.css-1nqlm9e{margin:8px 0px 0px;font-family:Roboto, sans-serif;font-weight:400;font-size:0.875rem;line-height:1.43;color:rgb(255, 255, 255);text-align:center;padding-top:16px;border-top:1px solid rgb(53, 54, 71);opacity:0.5;}